<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h1>Right Options Panel</h1>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal" name="Vm.ropSettingsForm">
            <div class="form-group">
                <label class="col-lg-2 control-label">Days of history shown</label>

                <div class="col-lg-10">
                    <input kendo-numeric-text-box k-ng-model="Vm.ropSettings.daysOfHistoryShown" k-options="Vm.ropSettingsOptions" style="width: 20%;" />
                </div>
            </div>
        </form>
    </div>
</div>