<div ng-cloak>
    <section>
        <h1>This section is for troubleshooting and testing</h1>
        <pre>{{Vm.Widgets}}</pre>
        <nav id="dashBoarbMenu" class="clearfix">
            <ul>
                <li ng-click="Vm.AddTimelineWidget()">Add Timeline Widget |</li>
                <li ng-click="Vm.AddAssignedPanelWidget()">Add Assigned Panel |</li>
                <li ng-click="Vm.AddClaimsChartWidget()">Add Chart Widget |</li>
                <li ng-click="Vm.AddRadialGaugeWidget()">Add Radial Gauge |</li>
                <li ng-click="Vm.AddActivityGridWidget()">Add Activity Grid |</li>
                <li ng-click="Vm.AddOpenedPanelWidget()">Open Claims | </li>
                <li ng-click="Vm.AddReOpenedPanelWidget()">Add ReOpened Panel |</li>
                <li ng-click="Vm.AddClosedPanelWidget()">Add Closed Panel |</li>
                <li ng-click="Vm.AddFlaggedPanelWidget()">Add Flagged Panel |</li>
                <li ng-click="Vm.AddOpenClaimsGridWidget()">Add Open Claims Grid  |</li>
            </ul>
        </nav>
    </section>

    <div gridstack gridstack-handler="Gridstacker" class="grid-stack grid1"
         options="Vm.Options"
         on-change="Vm.OnChange(event,items)"
         on-drag-start="Vm.OnDragStart(event,ui)"
         on-drag-stop="Vm.OnDragStop(event, ui)"
         on-resize-start="Vm.OnResizeStart(event, ui)"
         on-resize-stop="Vm.OnResizeStop(event, ui)">

        <div gridstack-item ng-repeat="w in Vm.Widgets"
             class="grid-stack-item"
             gs-item-id="w.id"
             gs-item-x="w.x"
             gs-item-y="w.y"
             gs-item-width="w.width"
             gs-item-height="w.height"
             gs-item-autopos="1"
             on-item-added="Vm.OnItemAdded(item)"
             on-item-removed="Vm.OnItemRemoved(item)">



            <div class="grid-stack-item-content">
                <div ng-if="w.id === 'TimelineFilterInstance'">
                    <div class='row show-grid'>

                        <div ng-click="Vm.SetTodayAsActiveFilter()" class="col-md-3" id="vrxDashBoardToday">Today</div> 
                        <div ng-click="Vm.SetWeekAsActiveFilter()"  class="col-md-3" id="vrxDashBoardWeek">Week </div>
                        <div ng-click="Vm.SetMonthAsActiveFilter()"  class="col-md-3" id="vrxDashBoardMonth">Month</div>
                        <div ng-click="Vm.SetYearAsActiveFilter()"  class="col-md-3" id="vrxDashBoardYear">Year</div>
                    </div>

                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'MyDashBoardClaimsChartInstance' ">
               
                    <kendo-line-chart key ={{w.id}}></kendo-line-chart>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'RadialGaugeInstance' ">
                    <kendo-gauge key={{w.id}}></kendo-gauge>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'ActivityGridInstance' ">
                    <activity-grid key ={{w.id}}></activity-grid>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'OpenedPanelInstance' ">
                    <opened-claims-panel key ={{w.id}}></opened-claims-panel>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)" href="#">Remove</a>
                    </div>
                </div>


                <div ng-if="w.id === 'ReOpenedPanelInstance' ">
                    <re-opened-claims-panel key ={{w.id}}></re-opened-claims-panel>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'ClosedPanelInstance' ">
                    <closed-claims-panel key ={{w.id}}></closed-claims-panel>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

                <div ng-if="w.id === 'AssignedPanelInstance' ">
                    <assigned-claims-panel key ="{{w.id}}" time ="Vm.FilterState"></assigned-claims-panel>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>


                <div ng-if="w.id === 'FlaggedPanelInstance' ">
                    <flagged-claims-panel key ={{w.id}}></flagged-claims-panel>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>


                <div ng-if="w.id === 'OpenClaimsGridInstance' ">
                    <open-claims-grid key ={{w.id}}></open-claims-grid>
                    <div>
                        <a class="btn btn-primary" ng-click="Vm.RemoveWidget(w)">Remove</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>