<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">UserNameHere</strong>

                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    VRX
                </div>
            </li>

            <li style="display:none">
                <a>
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddWelcomeMessageWidget">Add Welcome </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemovedWelcomeMessageWidget">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddGauge">Add Gauge </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveGauge">&times;</span>
                </a>
            </li>

            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddOpenPanel">Add Open Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveOpenPanel">&times;</span>
                </a>
            </li>

            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddFlaggedPanel">Add Flagged Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveFlaggedPanel">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddAssignedPanel">Add Assigned Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveAssignedPanel">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddReOpenedPanel">Add Re-opened Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveReopenedPanel">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddTransferPanel">Add Transferred Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveTransferPanel">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddClosedPanel">Add Closed Panel </span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveClosedPanel">&times;</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddKendoChart">Add Kendo Chart</span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveKendoChart">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddKendoActivityGridWidget">Add Activities Grid</span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveKendoActivityGridWidget">&times;</span>
                </a>
            </li>


            <li>
                <a>
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span class="nav-label" style="display:inline-block;" id="vrxAddKendoClaimsGridWidget">Add Claims Grid</span>
                    <span class="pull-right" style="font-size:16px" id="vrxRemoveKendoClaimsGridWidget">&times;</span>
                </a>
            </li>

        </ul>
        <button class="btn btn-sm btn-primary" style="width:100%;" id="vrxSaveRoleGrid">Save</button>
    </div>
</nav>