<div class="ibox">
    <div class="ibox-content">
        <h5>{{Vm.key}}</h5>
        <table class="table table-stripped small m-t-md">
            <tbody>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-danger"></i>
                    </td>
                    <td class="no-borders">
                        Example element 1
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-circle text-danger"></i>
                    </td>
                    <td>
                        Example element 2
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-circle text-danger"></i>
                    </td>
                    <td>
                        Example element 3
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>