<div class="form-group">
    <label class="col-sm-2 control-label">Hours</label>

    <div class="col-sm-10">
        <div>
            <label>
                <input type="radio" ng-value="0" id="24HoursRadio" name="businessHoursRadios" ng-model="Vm.type">24/7 Business hours
            </label>
        </div>
        <div>
            <label>
                <input type="radio" value="1" id="definedHoursRadio" name="businessHoursRadios" ng-model="Vm.type"> Define Business hours
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>

</div>