<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h3>Hours of Operation</h3>

        <small>This will set the hours of operation of the entire company.</small>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Hours
        </label>

        <div class="col-sm-10">
            <div>
                <label>
                    <input type="radio" value="0" id="operationAllHoursRadio" name="optionsRadios" ng-model="Vm.type"> 24/7 Business Hours
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="1" id="operationDefinedHoursRadio" name="optionsRadios" ng-model="Vm.type"> Define Business Hours
                </label>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align:center">Business Hours</h1>
            </div>
            <div class="col-md-6">
                <h1 style="text-align:center">After Hours</h1>
            </div>
        </div>

        <div class="row">
                <form name="Vm.operationHoursForm" novalidate>
                    <div class="col-md-12">
                        <!--<pre>
                            {{Vm.operationHoursForm | json}}
                        </pre>-->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Week Day</th>
                                    <th class="col-sm-2">Start Time</th>
                                    <th class="col-sm-2">End Time</th>
                                    <th class="col-sm-2"></th>
                                    <th class="col-sm-2">Start Time</th>
                                    <th class="col-sm-2">End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Sunday-->
                                <tr>
                                    <td>Sunday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.sunday.startTime"
                                               k-ng-model="Vm.operationHoursForm.sunday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.sunday.startTimeObj, 'sunday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.sunday.endTime"
                                               k-ng-model="Vm.operationHoursForm.sunday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.sunday.endTimeObj, 'sunday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.sunday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.sunday.afterHourEndTime}}</td>
                                </tr>
                                <!--Monday-->
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.monday.startTime"
                                               k-ng-model="Vm.operationHoursForm.monday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.monday.startTimeObj, 'monday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.monday.endTime"
                                               k-ng-model="Vm.operationHoursForm.monday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.monday.endTimeObj, 'monday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.monday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.monday.afterHourEndTime}}</td>
                                </tr>
                                <!--Tuesday-->
                                <tr>
                                    <td>Tuesday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.tuesday.startTime"
                                               k-ng-model="Vm.operationHoursForm.tuesday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.tuesday.startTimeObj, 'tuesday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.tuesday.endTime"
                                               k-ng-model="Vm.operationHoursForm.tuesday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.tuesday.endTimeObj, 'tuesday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.tuesday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.tuesday.afterHourEndTime}}</td>

                                </tr>
                                <!--Wednesday-->
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.wednesday.startTime"
                                               k-ng-model="Vm.operationHoursForm.wednesday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.wednesday.startTimeObj, 'wednesday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.wednesday.endTime"
                                               k-ng-model="Vm.operationHoursForm.wednesday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.wednesday.endTimeObj, 'wednesday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.wednesday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.wednesday.afterHourEndTime}}</td>

                                </tr>
                                <!--Thursday-->
                                <tr>
                                    <td>Thursday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.thursday.startTime"
                                               k-ng-model="Vm.operationHoursForm.thursday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.thursday.startTimeObj, 'thursday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.thursday.endTime"
                                               k-ng-model="Vm.operationHoursForm.thursday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.thursday.endTimeObj, 'thursday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.thursday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.thursday.afterHourEndTime}}</td>
                                </tr>
                                <!--Friday-->
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.friday.startTime"
                                               k-ng-model="Vm.operationHoursForm.friday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.friday.startTimeObj, 'friday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.friday.endTime"
                                               k-ng-model="Vm.operationHoursForm.friday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.friday.endTimeObj, 'friday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.friday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.friday.afterHourEndTime}}</td>
                                </tr>
                                <!--Saturday-->
                                <tr>
                                    <td>Saturday</td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.saturday.startTime"
                                               k-ng-model="Vm.operationHoursForm.saturday.startTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.saturday.startTimeObj, 'saturday', 'start')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />

                                    </td>
                                    <td>
                                        <input kendo-time-picker
                                               ng-model="Vm.operationHoursForm.saturday.endTime"
                                               k-ng-model="Vm.operationHoursForm.saturday.endTimeObj"
                                               k-on-change="Vm.updateAfterHours(Vm.operationHoursForm.saturday.endTimeObj, 'saturday', 'end')"
                                               k-ng-disabled = "!Vm.areBusinessHoursDefined()"
                                               style="width: 100%;" />
                                    </td>
                                    <td></td>
                                    <td>{{Vm.operationHoursForm.saturday.afterHourStartTime}}</td>
                                    <td>{{Vm.operationHoursForm.saturday.afterHourEndTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
        </div>
    </div>
</div>




