<div class="row">
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">Config option 1</a>
            </li>
            <li>
                <a href="#">Config option 2</a>
            </li>
        </ul>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>



@section styles{

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.5/gridstack.min.css" />
    <style>
        #dashBoarbMenu ul li {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #dashBoarbMenu ul li {
            display: inline;
        }

        #dashBoarbMenu ul a {
            display: inline-block;
            padding: 10px;
        }
    </style>

}
@section scripts
{
    <script type="text/javascript" src="~/lib/gridstack/dist/gridstack.js"></script>
    <script src="~/lib/gridstackangularimproved/dist/gridstack-angular.js"></script>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>
        System.import("app/angularbootstrap");
    </script>
    @*<script src="~/troubleshooting/system.tap.js"></script>
        <script src="~/troubleshooting/system.yuml.js"></script>*@


}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>DashBoard</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong><a asp-action="Index" asp-controller="Home">Home</a></strong>
            </li>

        </ol>
    </div>
</div>
<div class="row">


</div>

                    <dashboard-config></dashboard-config>
