@section styles{

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.5/gridstack.min.css" />
}
@section scripts
{

    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>
        System.import("app/angularbootstrap").then(function () {
            angular.bootstrap(document, ['slate']);
        });
    </script>



}
<div ng-controller="dashBoardAngular as Vm" ng-cloak>
    {{Vm.Widgets}}
    <div gridstack class="grid-stack grid1" 
         options="Vm.Options" 
         on-change="Vm.onChange(event,items)" 
         on-drag-start="Vm.onDragStart(event,ui)" 
         on-drag-stop="Vm.onDragStop(event, ui)" 
         on-resize-start="Vm.onResizeStart(event, ui)" 
         on-resize-stop="Vm.onResizeStop(event, ui)">

        <div gridstack-item ng-repeat="w in Vm.Widgets" 
             class="grid-stack-item" 
             gs-item-x="w.x" 
             gs-item-y="w.y"
             gs-item-width="w.width" 
             gs-item-height="w.height" 
             gs-item-autopos="1" 
             on-item-added="onItemAdded(item)" 
             on-item-removed="onItemRemoved(item)">

            <div class="grid-stack-item-content">
                <h1>Hi</h1>
                <h1>Hi</h1>
                <h1>Hi</h1>
                <h1>Hi</h1>
                <a class="btn btn-primary" ng-click="Vm.removeWidget(w)" href="#">remove</a>
            </div>
        </div>
    </div>


</div>
